@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*  
font-family: "Bebas Neue", sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

nav{
    left: 50%;
    width: 90vw;
    height: 70px;
    background: rgba(0, 0, 0, 0.415);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    position: fixed;
    transform: translateX(-50%);
    top: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #ff4b2b;
}

.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: url('../src/chelseastadium.jpeg') no-repeat center center/cover;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}
.hero h1{
    font-size: 80px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

/* camisetas */
.camisetas-2025{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.camisetas-2025 h2{
    color: white;
    font-size: 40px;
    margin: 40px 0 20px 0;
    font-family: "Bebas Neue", sans-serif;
}

.camisetas-2025 a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.camisetas-2025 a:hover{
    color: #ffffff;
}
.camisetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 40px 0;
}

.card{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    text-align: center;
    color: white;
}
.card button{
    background-color: #ff4b2b;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* conjuntos */

.conjuntos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c50000;
}
